body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 10pt;
  max-width: 800px;
  height: 600px;
  color: #cdc;
  background-color: #201919;
}

h1 {
  font-size: 25px;
}
.user-node {
  border-bottom: dashed 1px #66f;
}
.name-node {
  font-size: 2em;
  font-weight: 700;
}
.insta-pic, .fc-pic {
  border-radius: 5px;
  padding: 0;
  margin: 5px;
}
